@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
}

.slick-arrow {
  background-color: rgba(20, 20, 20, 0.5) !important;
  width: 40px !important;
  height: 50% !important;
  opacity: 0;
  visibility: hidden;
  transition: all 350ms ease-in;
  z-index: 99;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a202c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #303641;
}

@media screen and (max-width: 553px) {
  .slick-arrow {
    display: none !important;
  }
}

.slick-arrow:hover {
  background-color: rgba(20, 20, 20, 0.7);
}

.slick-slider:hover .slick-arrow {
  opacity: 1;
  visibility: visible;
  transition: all 350ms ease-in;
}

.slick-next::before,
.slick-prev::before {
  content: '' !important;
}

.slick-prev {
  /* top: 0px; */
  left: 0px !important;
  border-top-right-radius: 54px;
  border-bottom-right-radius: 54px;
}

.slick-next {
  right: 0px !important;
  border-top-left-radius: 54px;
  border-bottom-left-radius: 54px;
  /* top: 0px; */
}
